/*
* * * * * * * * * * * * * * * * * * * * * * * * *
* Author: Eduardo de Sá Coêlho Ribeiro Costa   	*
* Github: edudscrc							   	*
*											   	*
* Waybar v0.12.0						   	    *
* * * * * * * * * * * * * * * * * * * * * * * * *
*/

@define-color modules_background #0e0e13;
@define-color modules_border #1a1f2b;

@define-color workspaces_button_hover #0e0e13;
@define-color workspaces_button_active #0e0e13;
@define-color workspaces_button_idle #0e0e13;
@define-color workspaces_button_background_hover #a5c6d4;
@define-color workspaces_button_background_active #a5c6d4;
@define-color workspaces_button_background_idle #263B4C;

@define-color spotify_idle #3a5e83;
@define-color spotify_hover #a5c6d4;

@define-color tray_menu #0e0e13;
@define-color tray_menu_border #1a1f2b;
@define-color tray_menu_item #3a5e83;
@define-color tray_menu_item_hover #3a5e83;
@define-color tray_menu_item_hover_background #1a1f2b;

@define-color clock_idle #3a5e83;
@define-color clock_hover #a5c6d4;

@define-color brightness_idle #3a5e83;
@define-color brightness_hover #a5c6d4;

@define-color sound_idle #3a5e83;
@define-color sound_hover #a5c6d4;

@define-color bluetooth_idle #0e0e13;
@define-color bluetooth_hover #0e0e13;
@define-color bluetooth_background_on #a5c6d4;
@define-color bluetooth_background_off #263B4C;
@define-color bluetooth_background_on_hover #c0d7e1;
@define-color bluetooth_background_off_hover #334f66;

@define-color network_idle #0e0e13;
@define-color network_hover #0e0e13;
@define-color network_background_connected #a5c6d4;
@define-color network_background_off #263B4C;
@define-color network_background_connected_hover #c0d7e1;
@define-color network_background_off_hover #334f66;

@define-color power_idle #3a5e83;
@define-color power_hover #a5c6d4;

@define-color tooltip_background #0e0e13;
@define-color tooltip_text #f4faff;

/*----------------*/
/*-----GLOBAL-----*/
/*----------------*/

* {
	font-family: "JetBrains Mono", "JetBrainsMono Nerd Font";
    font-weight: 600;
	margin: 0;
    padding: 0;
}

.bar_2k,
.bar_1080p {
    font-size: 16px;
}

#waybar {
	background-color: transparent;
	margin: 0;
    padding: 0;
}

.modules-left,
.modules-center,
.modules-right {
	margin-top: 4px;
	margin-bottom: 8px;
}

#group-left,
#group-center,
#group-right {
	border: 2px solid @modules_border;
	border-radius: 2px;
	box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 1.0);

	background-color: @modules_background;
	/* background-color: rgba(26, 21, 37, 0.93); */

	margin: 0px 6px;
}

/*--------------------*/
/*-----WORKSPACES-----*/
/*--------------------*/

#workspaces {
	margin-top: 4px;
	margin-bottom: 4px;
}

#workspaces button {
	color: @workspaces_button_idle;
	background-color: @workspaces_button_background_idle;

	border-radius: 2px;
	margin: 0 2px;
	padding: 0 6px;

	transition: color 0.3s;
	transition: background-color 0.3s;
}

#workspaces button.active {
	color: @workspaces_button_hover;
	background-color: @workspaces_button_background_active;

	transition: color 0.3s;
	transition: background-color 0.3s;
}

#workspaces button:hover {
	color: @workspaces_button_hover;
	
	transition: color 0.3s;
	transition: background-color 0.3s;
	
	background: none;
	background-color: @workspaces_button_background_hover;
	box-shadow: none;
	text-shadow: none;
	transition: none;
	border-color: transparent;
}

/*-----CUSTOM SPOTIFY-----*/

#custom-spotify {
	color: @spotify_idle;

	padding: 0 3px 0 9px;
	transition: color 0.3s;
}

#custom-spotify:hover {
	color: @spotify_hover;

	transition: color 0.3s;
}

/*-----TRAY-----*/

#tray {
	padding: 0 6px;
}

#tray menu {
	background-color: @tray_menu;
	border: 1px solid @tray_menu_border;
	padding: 6px 0;
}

#tray menu menuitem {
	color: @tray_menu_item;
}

#tray menu menuitem:hover {
	color: @tray_menu_item_hover;
	border: 0;
	background-color: @tray_menu_item_hover_background;
}

/*---------------*/
/*-----CLOCK-----*/
/*---------------*/

#clock {
	color: @clock_idle;

	padding: 0px 6px;

	transition: color 0.3s;
}

#clock:hover {
	color: @clock_hover;

	transition: color 0.3s;
}

/*-----------------------------------------*/
/*-----CUSTOM-WL-GAMMARELAY-BRIGHTNESS-----*/
/*-----------------------------------------*/

#custom-wl-gammarelay-brightness {
	color: @brightness_idle;

	padding: 0 6px;
	transition: color 0.3s;
}

#custom-wl-gammarelay-brightness:hover {
	color: @brightness_hover;

	transition: color 0.3s;
}

/*---------------------*/
/*-----WIREPLUMBER-----*/
/*---------------------*/

#custom-wireplumber {
	color: @sound_idle;

	padding: 0 6px;
	transition: color 0.3s;
}

#custom-wireplumber:hover {
	color: @sound_hover;

	transition: color 0.3s;
}

/*-----GROUP END-----*/

#group-end {
	margin-top: 4px;
	margin-bottom: 4px;
}

/*-----CUSTOM PIPE-----*/

#custom-pipe {
	font-size: 6px;
	color: transparent;
}

/*-----BLUETOOTH-----*/

#bluetooth {
	color: @bluetooth_idle;

	background-color: @bluetooth_background_on;

	border-radius: 2px;

	padding: 0 10px;

	transition: color 0.3s;
	transition: background-color 0.3s;
}

#bluetooth.off {
	background-color: @bluetooth_background_off;

	transition: background-color 0.3s;
}

#bluetooth.off:hover {
	background-color: @bluetooth_background_off_hover;
	
	transition: background-color 0.3s;
}

#bluetooth:hover {
	color: @bluetooth_hover;
	background-color: @bluetooth_background_on_hover;

	transition: color 0.3s;
	transition: background-color 0.3s;
}

.bar_2k #bluetooth {
	/* Global font size + 3px */
	font-size: 21px;
}

.bar_1080p #bluetooth {
	/* Global font size + 3px */
	font-size: 18px;
}

/*-----NETWORK-----*/

#network {
	color: @network_idle;

	border-radius: 2px;
	background-color: @network_background_connected;
	
	transition: color 0.3s;
	transition: background-color 0.3s;
}

#network.wifi {
	/* padding: 0 10px 0 2px; */
}

#network.ethernet {
	padding: 0 6px;
}

#network.disconnected {
	/* padding: 0 6px 0 1px; */
	background-color: @network_background_off;

	transition: background-color 0.3s;
}

#network.disconnected:hover {
	background-color: @network_background_off_hover;
	
	transition: background-color 0.3s;
}

#network:hover {
	color: @network_hover;
	background-color: @network_background_connected_hover;

	transition: color 0.3s;
	transition: background-color 0.3s;
}

/*-----CUSTOM POWER-----*/

#custom-power {
	color: @power_idle;

	padding: 0 15px 0 8px;

	/* padding: 0 6px 0 6px; */
	
	transition: color 0.3s;
}

#custom-power:hover {
	color: @power_hover;

	transition: color 0.3s;
}

/*-----TOOLTIP-----*/

tooltip {
	background-color: @tooltip_background;
}

tooltip label {
	color: @tooltip_text;
}
