/*
* * * * * * * * * * * * * * * * * * * * * * * * *
* Author: Eduardo de Sá Coêlho Ribeiro Costa   	*
* Github: edudscrc							   	*
*											   	*
* Waybar v0.12.0						   	    *
* * * * * * * * * * * * * * * * * * * * * * * * *
*/

/* Pywal generated */
@define-color foreground #c3c2c3;
@define-color background #100c12;
@define-color cursor #c3c2c3;

@define-color color0 #100c12;
@define-color color1 #6A4AA5;
@define-color color2 #8A7497;
@define-color color3 #8A5FE2;
@define-color color4 #8F63E7;
@define-color color5 #7897AE;
@define-color color6 #67CC82;
@define-color color7 #948d97;
@define-color color8 #65586c;
@define-color color9 #8d70c1;
@define-color color10 #ac7ec8;
@define-color color11 #ae9bd4;
@define-color color12 #b2a0d6;
@define-color color13 #8cb3ce;
@define-color color14 #93d1a4;
@define-color color15 #c3c2c3;
/*---------------------------*/

@define-color modules_background @background;
@define-color modules_border @background;

@define-color archicon_idle @color10;
@define-color archicon_hover @color12;

@define-color workspaces_button_idle @color8;
@define-color workspaces_button_hover @color10;

@define-color spotify_idle @color10;
@define-color spotify_hover @color12;

@define-color tray_menu @background;
@define-color tray_menu_border @background;
@define-color tray_menu_item @color12;
@define-color tray_menu_item_hover @background;
@define-color tray_menu_item_hover_background @color12;

@define-color clock_idle @color10;
@define-color clock_hover @color12;

@define-color temperature_idle @color10;
@define-color temperature_hover @color12;

@define-color sound_idle @color10;
@define-color sound_hover @color12;

@define-color bluetooth_idle @color10;
@define-color bluetooth_hover @color12;

@define-color network_idle @color10;
@define-color network_hover @color12;

@define-color power_idle @color10;
@define-color power_hover @color12;

@define-color tooltip_background @background;
@define-color tooltip_text @color12;

/*-----GLOBAL-----*/

* {
	font-family: "JetBrains Mono", "JetBrainsMono Nerd Font";
    font-weight: 600;
	margin: 0;
    padding: 0;
}

.bar_2k {
    font-size: 18px;
}

.bar_1080p {
    font-size: 15px;
}

#waybar {
	background-color: @transparent;
}

.modules-left, .modules-center, .modules-right {
	background-color: @modules_background;
	border: 2px solid @modules_border;
	border-radius: 6px;

	margin: 6px;

	padding: 2px 6px;
}

/*-----ARCH ICON-----*/

.bar_2k #custom-archicon {
	color: @archicon_idle;

	font-size: 22px; /* Global font size + 4px */

	padding: 0 8px;
	transition: color 0.3s;
}

.bar_1080p #custom-archicon {
	color: @archicon_idle;

	font-size: 19px; /* Global font size + 4px */

	padding: 0 8px;
	transition: color 0.3s;
}

#custom-archicon:hover {
	color: @archicon_hover;

	transition: color 0.3s;
}

/*-----WORKSPACES-----*/

#workspaces {

}

#workspaces button {
	color: @workspaces_button_idle;

	padding: 0 6px;
	transition: color 0.3s;
}

#workspaces button.active {
	color: @workspaces_button_hover;
}

#workspaces button:hover {
	color: @workspaces_button_hover;

	transition: color 0.3s;

	background: none;
	box-shadow: none;
	text-shadow: none;
	transition: none;
	border-color: transparent;
}

/*-----CUSTOM SPOTIFY-----*/

#custom-spotify {
	color: @spotify_idle;

	padding: 0 6px;
	transition: color 0.3s;
}

#custom-spotify:hover {
	color: @spotify_hover;

	transition: color 0.3s;
}

/*-----TRAY-----*/

#tray {
	padding: 0 6px;
}

#tray menu {
	background-color: @tray_menu;
	border: 1px solid @tray_menu_border;
	padding: 6px 0;
}

#tray menu menuitem {
	color: @tray_menu_item;
}

#tray menu menuitem:hover {
	color: @tray_menu_item_hover;
	border: 0;
	background-color: @tray_menu_item_hover_background;
}

/*-----CLOCK-----*/

#clock {
	color: @clock_idle;

	padding: 0 6px;
	transition: color 0.3s;
}

#clock:hover {
	color: @clock_hover;

	transition: color 0.3s;
}

/*-----TEMPERATURE-----*/

#temperature {
	color: @temperature_idle;

	padding: 0 6px;
	transition: color 0.3s;
}

#temperature:hover {
	color: @temperature_hover;

	transition: color 0.3s;
}

/*-----PULSEAUDIO VOLUME-----*/

#pulseaudio.sound {
	color: @sound_idle;

	padding: 0 6px;
	transition: color 0.3s;
}

#pulseaudio.sound:hover {
	color: @sound_hover;

	transition: color 0.3s;
}

/*-----GROUP END-----*/

#group-end {
	padding: 0 6px;
}

/*-----CUSTOM PIPE-----*/

#custom-pipe {
	font-size: 6px;
	color: transparent;
}

/*-----BLUETOOTH-----*/

.bar_2k #bluetooth {
	color: @bluetooth_idle;

	padding: 0 3px 0 2px;
	font-size: 21px; /* Global font size + 3px */
	transition: color 0.3s;
}

.bar_1080p #bluetooth {
	color: @bluetooth_idle;

	padding: 0 3px 0 2px;
	font-size: 18px; /* Global font size + 3px */
	transition: color 0.3s;
}

#bluetooth:hover {
	color: @bluetooth_hover;

	transition: color 0.3s;
}

/*-----NETWORK-----*/

#network {
	color: @network_idle;
	
	transition: color 0.3s;
}

#network.wifi {
	padding: 0 10px 0 2px;
}

#network.ethernet {
	padding: 0 2px 0 2px;
}

#network.disconnected {
	padding: 0 6px 0 1px;
}

#network:hover {
	color: @network_hover;

	transition: color 0.3s;
}

/*-----CUSTOM POWER-----*/

#custom-power {
	color: @power_idle;

	padding: 0 10px 0 6px;
	transition: color 0.3s;
}

#custom-power:hover {
	color: @power_hover;

	transition: color 0.3s;
}

/*-----TOOLTIP-----*/

tooltip {
	background-color: @tooltip_background;
}

tooltip label {
	color: @tooltip_text;
}
