/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #100c12 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c3c2c3; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c3c2c3; background-color: rgba(103,204,130,0.4)}
.cm-s-nqqwal { background-color: #100c12; color: #c3c2c3; }
.cm-s-nqqwal span.cm-builtin { color: #8A7497; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #65586c; }
.cm-s-nqqwal span.cm-keyword { color: #8A5FE2; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #8F63E7; }
.cm-s-nqqwal span.cm-def { color: #7897AE; }
.cm-s-nqqwal span.cm-variable { color: #67CC82; }
.cm-s-nqqwal span.cm-variable-2 { color: #7897AE; }
.cm-s-nqqwal span.cm-string { color: #8A7497; }
.cm-s-nqqwal span.cm-string-2 { color: #8A7497; }
.cm-s-nqqwal span.cm-number { color: #7897AE; }
.cm-s-nqqwal span.cm-tag { color: #8A5FE2; }
.cm-s-nqqwal span.cm-property { color: #67CC82; }
.cm-s-nqqwal span.cm-attribute { color: #67CC82; }
.cm-s-nqqwal span.cm-qualifier { color: #8F63E7; }
.cm-s-nqqwal span.cm-meta { color: #7897AE; }
.cm-s-nqqwal span.cm-header { color: #8A5FE2; }
.cm-s-nqqwal span.cm-operator { color: #8A5FE2; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(120,151,174,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #8A5FE2; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #100c12); }
